h3{color:blue}
#banner
{
    background-image: url(images/nick-fewings.jpg);
    height:30vh;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.grid-container
{
    display:grid;
    grid-template-columns: 25% 75%;
    background-color: aqua;
    padding:5px;
}
.grid-container>div
{
    background-color: rgb(26, 176, 176);
    text-align: left;
    padding: 20px 0;
}
.nav>ul{margin:1px;}
.nav>ul>li{padding:10px; display:inline; background-color: rgb(43, 98, 226);}